<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campaign.name %>
</p>
<h2>Email</h2>
<p>
  <b>Subject:</b>
  <%= @campaign.subject %>
</p>
<p>
  <b>From:</b>
  <%= @campaign.from %>
</p>
<p>
  <b>Reply to:</b>
  <%= @campaign.reply %>
</p>
<p>
  <b>Cc:</b>
  <%= @campaign.cc %>
</p>
<p>
  <b>Bcc:</b>
  <%= @campaign.bcc %>
</p>

<p>
  <b>Data:</b>
  <%= @campaign.data_url.to_s %>
</p>
<p>
  <b>Template html:</b>
  <%= @campaign.template_html_url.to_s %>
</p>
<p>
  <b>Template text:</b>
  <%= @campaign.template_text_url.to_s %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
