<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @campaign.name %>
</p>
<p>
  <b>Data:</b>
  <%= @campaign.data %>
</p>
<p>
  <b>Template html:</b>
  <%= @campaign.template_html %>
</p>
<p>
  <b>Template text:</b>
  <%= @campaign.template_text %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
